.nav{
    border: 4px solid  white;
    display: flex;
    padding: 20px 10px;
}
.logo{
    
    height: 100px;
    width: 100px;
   
}
#logo-image{
    
    height: 100%;
    width: 100%;
   
}
a{
    text-decoration: none;
    color: whitez;
    font-size: 20px;
}

.tout-voir{
    margin-left: 20px;
    text-align: center;
    margin-top: 40px;
   
}
select{
    margin-left: 20px;
    background-color:rgb(5, 5, 43);
    color:   #ededed;
}