.movies{
  margin-top: 120px;
  padding: 5px 5px;
  
}
.movies h1{
  font-size: 40px;
  color: white;
  
}
.video{
  display: flex;
  justify-content: space-around;
  
}
.video h1{
  color: rgba(255, 255, 0, 0.836);
}

iframe{
border: 2px solid white;
    width: 90%;
  
  
   height: 200px;
}
.button-listcards{
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
}