
.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.container-image{
   border: 3px solid white; 
   width: 250px;
   height: 230px;
   border-radius: 50%;
 transition: transform 0.2s;
}

.container-image:hover{
   cursor: pointer;
   transform: scale(1.1);
 }
#image{
   height: 100%;
   width: 100%;
   border-radius: 100%; 
}
.texte{
    margin-top: 20px;
    color: #fff;
    
}

.texte em{
  font-size: 20px;
  color: rgb(134, 134, 235);
   
}